<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.stock.dao.ShoppingCartDao">
    <resultMap id="ShoppingCartVOMap2" type="com.qfedu.fmmall.entity.ShoppingCartVO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="cart_id" jdbcType="INTEGER" property="cartId" />
        <result column="product_id" jdbcType="VARCHAR" property="productId" />
        <result column="sku_id" jdbcType="VARCHAR" property="skuId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="cart_num" jdbcType="VARCHAR" property="cartNum" />
        <result column="cart_time" jdbcType="VARCHAR" property="cartTime" />
        <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
        <result column="sku_props" jdbcType="VARCHAR" property="skuProps" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="url" jdbcType="VARCHAR" property="productImg" />
        <result column="original_price" jdbcType="VARCHAR" property="originalPrice" />
        <result column="sell_price" jdbcType="VARCHAR" property="sellPrice" />
        <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
        <result column="stock" property="skuStock" />
    </resultMap>

    <select id="selectShoppingCartByCids" resultMap="ShoppingCartVOMap2">
        select cart_id, c.product_id, c.sku_id, user_id, cart_num, cart_time, product_price, sku_props, product_name, url, original_price, sell_price, sku_name, stock from shopping_cart c inner join product p inner join product_img i inner join product_sku s on c.product_id = p.product_id and p.product_id = i.item_id and s.sku_id = c.sku_id where i.is_main = 1 and c.cart_id in
            <foreach collection="list" item="cid" separator="," open="(" close=")">
                #{cid}
            </foreach>
    </select>
</mapper>