<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.dao.MemberDao">
    <resultMap id="memberMap" type="Member">
        <id property="memberId" column="member_id"/>
        <result property="memberNick" column="member_nick"/>
        <result property="memberGender" column="member_gender"/>
        <result property="memberAge" column="member_age"/>
        <result property="memberCity" column="member_city"/>
    </resultMap>

    <select id="queryMembers" resultMap="memberMap">
        select member_id,member_nick,member_gender,member_age,member_city from members
    </select>

    <insert id="insertMember">
        insert into members(member_nick, member_gender, member_age, member_city) values(#{memberNick}, #{memberGender}, #{memberAge}, #{memberCity})
    </insert>
</mapper>
