<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.CourseDao">
    <resultMap id="courseMap" type="Course">
        <id property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <collection property="students" ofType="Student">
            <result property="stuId" column="sid"/>
            <result property="stuName" column="sname"/>
            <result property="stuAge" column="sage"/>
            <result property="cId" column="cid"/>
        </collection>
    </resultMap>

    <select id="queryCourse" resultMap="courseMap">
        select c.course_id, c.course_name, s.sid, s.sname, s.sage, s.cid from tb_courses c inner join tb_grades g inner join tb_students s on c.course_id=g.cid and g.sid=s.sid where c.course_id=#{courseId}
    </select>
</mapper>