<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.StudentDao">
    <resultMap id="studentMap" type="Student">
        <id column="sid" property="stuId"/>
        <result column="sname" property="stuName"/>
        <result column="sage" property="stuAge"/>
        <result column="cid" property="cId"/>
        <result column="cid" property="classes.classId"/>
        <result column="cname" property="classes.className"/>
        <result column="cdesc" property="classes.classDesc"/>
    </resultMap>
    <select id="queryStudentBySid" resultMap="studentMap">
        select s.sid, s.sname, s.sage, s.cid, c.cid, c.cname, c.cdesc from tb_students s inner join tb_classes c on s.cid=c.cid where s.sid=#{sid}
    </select>
</mapper>