<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.UserDao">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into tb_users(user_name,user_pwd,user_real_name,user_img)
        values(#{userName},#{userPwd},#{userRealName},#{userImg})
    </insert>

    <resultMap id="userMap" type="user">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userPwd" column="user_pwd"/>
        <result property="userRealName" column="user_real_name"/>
        <result property="userImg" column="user_img"/>
        <result property="detail.detailId" column="detail_id"/>
        <result property="detail.userAddr" column="user_addr"/>
        <result property="detail.userTel" column="user_tel"/>
        <result property="detail.userDesc" column="user_desc"/>
        <result property="detail.fkUser" column="fk_user"/>
    </resultMap>

    <select id="queryUser" resultMap="userMap">
        select user_id,user_name,user_pwd,user_real_name,user_img,detail_id,user_addr,user_tel,user_desc,fk_user from tb_users u inner join tb_details d on u.user_id=d.fk_user where u.user_name=#{username}
    </select>
</mapper>