body {
	padding-bottom: 80px;
}

.select {
	top: 10px;
	left: 250px;
	position: absolute;
	width: 200px;
}

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 80px;
	background-color: #eee;
	z-index: 9999;
}

.songImg {
	margin-left: 50px;
	width: 80px;
}

.searchBox {
	margin: auto;
	width: 500px;
}