<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    配置上下文参数,键值对-->
    <context-param>
        <param-name>key1</param-name>
        <param-value>hello world</param-value>
    </context-param>
    <context-param>
        <param-name>key2</param-name>
        <param-value>wahaha</param-value>
    </context-param>
<!--    xml方式配置servlet，可以配置当前servlet的初始化参数-->
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.qfedu.servlets.TestServlet</servlet-class>
<!--        不是全局的只属于当前servlet-->
        <init-param>
            <param-name>key3</param-name>
            <param-value>hahaha</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
</web-app>