<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="student" class="com.qfedu.ioc.bean.Student">
        <property name="stuNum" value="10001"/>
        <property name="stuName" value="李四"/>
        <property name="stuAge" value="18"/>
        <property name="entranceTime" ref="date"/>
    </bean>
    <bean id="date" class="java.util.Date"/>
    <bean id="productService" class="com.qfedu.ioc.service.impl.ProductServiceImpl"/>
    <bean id="testServlet" class="com.qfedu.ioc.servlet.TestServlet" autowire="byName"/>
</beans>
